
.vs/練習實作/v16/.suo
.vs/練習實作/DesignTimeBuild/.dtbcache.v2
.vs/練習實作/config/applicationhost.config
.vs/練習實作/config/applicationhost.config
類別庫B/obj/project.nuget.cache
類別庫B/obj/project.assets.json
類別庫B/obj/類別庫B.csproj.nuget.dgspec.json
類別庫B/obj/類別庫B.csproj.nuget.g.props
類別庫B/obj/類別庫B.csproj.nuget.g.targets
主控台應用/obj/Debug/主控台應用.csproj.CoreCompileInputs.cache
類別庫B/obj/Debug/netstandard2.0/類別庫B.csproj.CoreCompileInputs.cache
類別庫B/obj/Debug/netstandard2.0/類別庫B.csproj.CoreCompileInputs.cache
類別庫B/obj/Debug/netstandard2.0/類別庫B.csprojAssemblyReference.cache
主控台應用/obj/Debug/主控台應用.csprojAssemblyReference.cache
