@{
    Response.Write("AAA");
}

<h2>@ViewBag.Page</h2>

<table class="table">
    Index
</table>
@{ TempData["TestName"] = "Test name";}
@{ ViewData["TestName1"] = "Test name1";}
@using (Html.BeginForm())
{
    <div>
        @Html.Label("輸入訊息:")
        <input type="text" name="name" />
    </div>
    <div>
        使用者輸入姓名:@ViewData["name"]
    </div>
    @*<input type="submit" value="送出" />*@
    <input type="submit" value="送出" formaction="/Home/ForContentResult1" />
}
